useDynLib("fHMM")

### S3 methods
S3method(print,fHMM_controls)
S3method(print,fHMM_data)
S3method(print,fHMM_sdds)
S3method(print,fHMM_trouble)

### export functions
export(download_data)

### import functions
import(Rcpp)