useDynLib("fHMM")

### S3 methods
S3method(print,fHMM_trouble)

### export functions
export(download_data)

### import functions
import(Rcpp)
importFrom("graphics", "plot")
importFrom("grDevices", "adjustcolor", "colorRampPalette", "dev.off", "pdf", "rgb")
importFrom("graphics", "abline", "axis", "curve", "hist", "legend", "lines", "mtext", "par", "points", "text", "title")
importFrom("stats", "acf", "dbinom", "dgamma", "dnorm", "dt", "nlm", "pgamma", "pt", "qnorm", "qqnorm", "rgamma", "rt", "runif", "sd")
importFrom("utils", "download.file", "head", "read.csv", "tail")
importFrom("grDevices", "dev.list")
importFrom("utils", "packageVersion")